<pro-header [title]=""></pro-header>

<nz-card>
  <div class = "table-operations">
    <button nz-button  (click)="refresh($event)">刷新</button>
    <button nz-button  (click)="showModalForComponent('Add')">新增</button><!--//add($event)-->
    <button nz-button  (click)="add1($event)">行内新增(远程)</button>
    <button nz-button  (click)="add2($event)">行内新增(本地)</button>
    <button nz-button  (click)="showModalForComponent('Edit')">修改</button><!--update($event)-->
    <button nz-button  (click)="delete($event)">删除</button>

    <nz-popconfirm [nzTitle]="'确定要删除这个任务吗？'" (nzOnConfirm)="delete($event)" (nzOnCancel)="cancel()">
      <button nz-button nz-popconfirm>删除1</button>
    </nz-popconfirm>
  </div>
  <nz-table #nzTable
            [nzAjaxData]="_dataSet"
            [nzShowSizeChanger]="true"
            [nzLoading]="_loading"
            [nzTotal]="_total"
            [(nzPageIndex)]="_current"
            (nzPageIndexChange)="refreshData()"
            [(nzPageSize)]="_pageSize"
            (nzPageSizeChange)="refreshData(true)"
            [nzBordered] = "true"
            nzShowTotal
            nzSize = "small">
    <thead nz-thead>
    <tr>
      <th nz-th [nzCheckbox]="true">
        <label nz-checkbox [(ngModel)]="_allChecked" [nzIndeterminate]="_indeterminate" (ngModelChange)="_checkAll()">
        </label>
      </th>
      <th nz-th>
        <span>模块名称</span>
        <nz-table-sort (nzValueChange)="sort('Name',$event)"></nz-table-sort>
      </th>
      <th nz-th>
        <span>备注</span>
        <nz-table-sort (nzValueChange)="sort('Id',$event)"></nz-table-sort>
      </th>
      <th nz-th>
        <span>排序</span>
        <nz-table-sort (nzValueChange)="sort('Order',$event)"></nz-table-sort>
      </th>
      <th nz-th>
        <span>操作</span>
      </th>

    </tr>
    </thead>
    <tbody nz-tbody>
    <tr nz-tbody-tr *ngFor="let data of nzTable.data" (click)="selectRow(data,editCache[data.id]?.dataItem)" [ngStyle]="{'background-color':data.selected?'rgb(236, 246, 253)':''}">
      <td nz-td [nzCheckbox]="true">
        <label nz-checkbox [(ngModel)]="data.checked" (ngModelChange)="refChecked()">
        </label>
      </td>
      <td nz-td>
        <span *ngIf="editRow !== data.Id"><a>{{data.Name}}</a></span>
        <span *ngIf="editRow===data.Id">
              <nz-input [(ngModel)]="tempEditObject[data.Id].Name"></nz-input>
        </span>
      </td>
      <td nz-td>
        <span *ngIf="editRow !== data.Id">{{data.Remark}}</span>
        <span *ngIf="editRow===data.Id">
              <nz-input [(ngModel)]="tempEditObject[data.Id].Remark"></nz-input>
        </span>
      </td>
      <td nz-td>
        <span *ngIf="editRow !== data.Id">{{data.Order}}</span>
        <span *ngIf="editRow===data.Id">
              <nz-input [(ngModel)]="tempEditObject[data.Id].Order"></nz-input>
        </span>
      </td>
      <td nz-td>
            <span *ngIf="editRow!==data.Id">
              <a (click)="edit(data)">编辑 </a>
            </span>
            <span *ngIf="editRow===data.Id">
              <a (click)="save(data)">保存</a>
              <span nz-table-divider></span>
                <nz-popconfirm [nzTitle]="'确定要取消该操作吗?'" (nzOnConfirm)="cancel(data)">
                  <a nz-popconfirm>取消</a>
                </nz-popconfirm>
            </span>

            <span *ngIf="editRow!==data.Id">
              <span nz-table-divider></span>
               <nz-popconfirm [nzTitle]="'确定要删除该条数据吗?'" (nzOnConfirm)="delete1(data)">
                  <a nz-popconfirm>删除</a>
                </nz-popconfirm>
            </span>
      </td>
    </tr>
    </tbody>
  </nz-table>
</nz-card>

