<page-header [title]=""></page-header>
<nz-card>
    <div class = "table-operations">
        <button>刷新 </button>
        <button>新增</button>
        <button>修改</button>
        <button>删除</button>
    </div>
  <nz-table #nzTable
            [nzData]="_dataSet"
            [nzFrontPagination]="false"
            [nzShowSizeChanger]="true"
            [nzLoading]="_loading"
            [nzTotal]="_total"
            [(nzPageIndex)]="_current"
            (nzPageIndexChange)="refreshData()"
            [(nzPageSize)]="_pageSize"
            (nzPageSizeChange)="refreshData(true)"
            [nzBordered] = "true"
            [nzShowTotal]="totalTemplate"
            nzSize = "small">
    <thead >
    <tr>

      <th>角色名称</th>
      <th >角色配置</th>
      <!--<th >-->
        <!--<span>主键</span>-->
      <!--</th>-->
      <!--<th >-->
        <!--<span>项目ID</span>-->
      <!--</th>-->
      <!--<th >-->
        <!--<span>ApplyId</span>-->
      <!--</th>-->
      <th >备注 </th>
      <!--<th >-->
        <!--<span>客户ID</span>-->
      <!--</th>-->
      <th >创建时间</th>
    </tr>
    </thead>
    <tbody >
    <tr *ngFor="let data of nzTable.data">
      <td >
        <a>{{data.Name}}</a>
      </td>
      <td >{{data.AppPermission}}</td>
      <!--<td >{{data.Id}}</td>-->
      <!--<td >{{data.ProjId}}</td>-->
      <!--<td >{{data.ApplyId}}</td>-->
      <td >{{data.Remark}}</td>
      <!--<td >{{data.PlatCustomerId}}</td>-->
      <td >{{data.CreateTime | date}}</td>
    </tr>
    </tbody>
  </nz-table>
    <ng-template #totalTemplate let-total let-range="range">
        {{range[0]}}-{{range[1]}} 共 {{total}} 条
    </ng-template>
</nz-card>


