<ng-container *ngIf="config.rows">
  <div nz-row [nzGutter]="8" *ngFor="let row of config.rows">
    <div nz-col *ngFor="let c of row.row.cols" [nzSpan]="c.span" [nzSm]="c.size.nzSm" [nzXs]="c.size.nzXs" [nzMd]="c.size.nzMd"
      [nzLg]="c.size.nzLg" [nzXl]="c.size.nzXl">
      <nz-card [nzTitle]="cardTitle">
        <ng-template #cardTitle *ngIf="c.title">
            <i class="{{c.icon}}"></i>
          {{c.title}}
        </ng-template>
        <cn-layout-resolver *ngFor="let cfg of c.viewCfg" [layoutId]="layoutId" [config]="cfg"></cn-layout-resolver>
      </nz-card>
    </div>
  </div>
</ng-container>

<nz-card *ngIf="config.tabs">
    <nz-tabset [nzType]="'line'">
        <nz-tab *ngFor="let tab of config.tabs" [nzTitle]="nzTabHeading">
          <ng-template #nzTabHeading>
            <i [ngClass]="tab.icon"></i>
            {{tab.title}}
          </ng-template>
          <cn-component-resolver
          [blockId]="tab.id"
          [layoutId]="layoutId"
          [config]="tab.viewCfg"></cn-component-resolver>
        </nz-tab>
      </nz-tabset>
</nz-card>

<cn-component-resolver  *ngIf="!config.rows && !config.tabs"
[layoutId]="layoutId" 
[blockId]="config.id" 
[config]="config"></cn-component-resolver>