<div nz-form-item nz-row>
  <div nz-form-label nz-col [nzSm]="config.labelSize" [nzXs]="24">
    <label [attr.for]="config.name" nz-form-item-required>{{config.label}}</label>
  </div>
  <div [formGroup]="formGroup" nz-form-control nz-col [nzSm]="config.controlSize" [nzXs]="24">
    <nz-timepicker
      formControlName="{{config.name}}"
      [nzSize]="config.size"
      [nzPlaceHolder]="config.placeholder"
      [nzDisabled]="config.disabled"
      [nzFormat]="config.format"
      [(ngModel)]="_time"
    >
    </nz-timepicker>
  </div>
</div>

